@import url(https://fonts.bunny.net/css?family=annie-use-your-telescope:400);

body {
    font-family: 'Annie Use Your Telescope', handwriting;
    max-width: 800px;
    margin: auto;
}

.switch-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 20rem;
    margin: auto;
}

.switch {
    position: relative;
    display: inline-blocK;
    width: 3.5rem;
    height: 2rem;
}

.switch input {
    /* Q: why not display: none? */
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    /* Q: do we really need all these?*/
    bottom: 0;
    background-color: hsl(var(--hue, 210), 100%, 50%);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2rem;
    /*TODO*/
}

.toggle-slider:before {
    position: absolute;
    content: "";
    background-color: aliceblue;
    -webkit-transition: .4s;
    transition: .4s;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

/* input:checked+.toggle-slider {
    background-color: #2196F3;
} */

input:focus+.toggle-slider:before {
    box-shadow: 0 0 5px #2196F3;
}

input:checked+.toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.range-container,
.settings-container {
    display: flex;
    flex-direction: column;
    /* width of canvas */
    width: 800px;
    margin: auto;
}

.range-slider {
    position: relative;
    min-height: 1em;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    pointer-events: all;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

.range-container input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 0.5em;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

.range-slider input:first-of-type {
    height: 0;
    margin-top: 0.4em;
    z-index: 1;
}

.hue {
    background: linear-gradient(90deg,
            hsl(0, 100%, 50%),
            hsl(30, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(120, 100%, 50%),
            hsl(150, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(210, 100%, 50%),
            hsl(240, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(300, 100%, 50%),
            hsl(330, 100%, 50%),
            hsl(360, 100%, 50%));
}

.saturation {
    background: linear-gradient(90deg,
            hsl(var(--hue, 210), 0%, 50%),
            hsl(var(--hue, 210), 100%, 50%));
}

.lightness {
    background: linear-gradient(90deg,
            hsl(210, 100%, 0%),
            hsl(210, 100%, 100%));
}

.settings-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.settings-container input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 0.2em;
    background-color: #C6C6C6;
    pointer-events: none;
}